name: MyWhoosh2Garmin
on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      
      - run: |
          pip install -r requirements.txt || pip install pydantic-settings pydantic garth playwright fit-tool
          python myWhoosh2Garmin.py
        env:
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          STRAVA_ACCESS_TOKEN: ${{ secrets.STRAVA_ACCESS_TOKEN }}
          STRAVA_EXPIRES_AT: ${{ secrets.STRAVA_EXPIRES_AT }}
          STRAVA_EXPIRES_IN: ${{ secrets.STRAVA_EXPIRES_IN }}
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}
          GARMIN_TOKENS: ${{ secrets.GARMIN_TOKENS }}
